@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0 auto;

    height: 100vh;
    
    box-sizing: inherit;

}


header {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    background-color: #5025d1;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;

    font-family: 'Poppins';
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: background-color 300ms ease-in-out;
    

}

.navbar li a:hover {
    color: #000;
    background-color: #ddd;
}