@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');



body {
   
    height: 100vh;
    margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5025d1;
   
    

    z-index: 1;
    font-family: 'Poppins';
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
   
    padding-right: 20px; 
}

.titu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
}

.navbar li {
    margin-right: 10px;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: background-color 300ms ease-in-out;
}

.navbar li a:hover {
    color: #000;
    background-color: #ddd;
}
